## JSON exercise
Copied from the sliderule_dsi_json_exercise.ipynb file.

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### Import necessary packages

In [2]:
import pandas as pd
import json
from pandas.io.json import json_normalize

### Load the World Bank Projects dataset from file

In [13]:
df_json = pd.read_json('data/world_bank_projects.json')
df_json.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [14]:
# Check the column names to select the ones intersted in.
df_json.keys()

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [15]:
# Take a look at: countrycode, countryname, project_name, 
# mjtheme, mjthemecode, mjtheme_namecode
df_json[['countrycode', 'countryname', 'project_name', 'mjtheme', 'mjthemecode', 'mjtheme_namecode']]

,countrycode,countryname,project_name,mjtheme,mjthemecode,mjtheme_namecode
0,ET,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...,[Human development],"8,11","[{'code': '8', 'name': 'Human development'}, {..."
1,TN,Republic of Tunisia,TN: DTF Social Protection Reforms Support,"[Economic management, Social protection and ri...","1,6","[{'code': '1', 'name': 'Economic management'},..."
2,TV,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"[Trade and integration, Public sector governan...","5,2,11,6","[{'code': '5', 'name': 'Trade and integration'..."
3,RY,Republic of Yemen,Gov't and Civil Society Organization Partnership,"[Social dev/gender/inclusion, Social dev/gende...","7,7","[{'code': '7', 'name': 'Social dev/gender/incl..."
4,LS,Kingdom of Lesotho,Second Private Sector Competitiveness and Econ...,"[Trade and integration, Financial and private ...","5,4","[{'code': '5', 'name': 'Trade and integration'..."
5,KE,Republic of Kenya,Additional Financing for Cash Transfers for Or...,[Social protection and risk management],"6,6","[{'code': '6', 'name': 'Social protection and ..."
6,IN,Republic of India,National Highways Interconnectivity Improvemen...,"[Public sector governance, Financial and priva...","2,4","[{'code': '2', 'name': 'Public sector governan..."
7,CN,People's Republic of China,China Renewable Energy Scale-Up Program Phase II,[Environment and natural resources management],"11,8","[{'code': '11', 'name': 'Environment and natur..."
8,IN,Republic of India,Rajasthan Road Sector Modernization Project,[Rural development],"10,7","[{'code': '10', 'name': 'Rural development'}, ..."
9,MA,Kingdom of Morocco,MA Accountability and Transparency DPL,"[Public sector governance, Public sector gover...","2,2,2","[{'code': '2', 'name': 'Public sector governan..."
10,SS,Republic of South Sudan,Southern Sudan Emergency Food Crisis Response ...,[Rural development],"10,2","[{'code': '10', 'name': 'Rural development'}, ..."
11,IN,Republic of India,Uttarakhand Disaster Recovery Project,"[Rural development, Social protection and risk...","10,6,6,11","[{'code': '10', 'name': 'Rural development'}, ..."
12,GH,Republic of Ghana,GH eTransform Ghana,NaN,4,"[{'code': '4', 'name': ''}]"
13,TP,Democratic Republic of Timor-Leste,Timor Leste Road Climate Resilience Project - ...,"[Trade and integration, Environment and natura...","5,11,10","[{'code': '5', 'name': 'Trade and integration'..."
14,JO,Hashemite Kingdom of Jordan,NATIONAL UNIFIED REGISTRY AND OUTREACH WORKER ...,"[Social protection and risk management, Social...","6,6,6","[{'code': '6', 'name': 'Social protection and ..."
15,WS,Samoa,Enhanced Road Access Project,"[Rural development, Environment and natural re...","10,11,5","[{'code': '10', 'name': 'Rural development'}, ..."
16,WS,Samoa,Samoa Agriculture & Fisheries Cyclone Response...,[Rural development],"10,2","[{'code': '10', 'name': 'Rural development'}, ..."
17,MG,Republic of Madagascar,Emergency Support to Education For all Project,[Human development],"8,7","[{'code': '8', 'name': 'Human development'}, {..."
18,KH,Kingdom of Cambodia,Additional Financing for the Second Health Sec...,"[Human development, Human development, Public ...","8,8,2,7,8","[{'code': '8', 'name': 'Human development'}, {..."
19,MA,Kingdom of Morocco,DTF:MA- Support New Governance Framework,"[Public sector governance, Public sector gover...","2,2,2","[{'code': '2', 'name': 'Public sector governan..."
20,KG,Kyrgyz Republic,SOCIAL COHESION THROUGH COMMUNITY-BASED DEVELO...,"[Social dev/gender/inclusion, Social dev/gende...","7,7","[{'code': '7', 'name': 'Social dev/gender/incl..."
21,NP,Nepal,Nepal: Pro-poor Urban Regeneration Pilot,"[Urban development, Social dev/gender/inclusion]","9,7","[{'code': '9', 'name': 'Urban development'}, {..."
22,JO,Hashemite Kingdom of Jordan,Jordan- Emergency Services and Social Resilience,"[Social dev/gender/inclusion, Social dev/gende...","7,7","[{'code': '7', 'name': 'Social dev/gender/incl..."
23,TJ,Republic of Tajikistan,Tajikistan JSDF Nutrition Grant Scale Up,"[Human development, Human development]","8,8","[{'code': '8', 'name': 'Human development'}, {..."
24,AZ,Republic of Azerbaijan,AGRICULTURAL COMPETITIVENESS IMPROVEMENT PROJECT,"[Rural development, Rural development, Rural d...","10,10,10,6","[{'code': '10', 'name': 'Rural development'}, ..."
25,4E,East Asia and Pacific,Capturing Coral Reef Ecosystem Services (CCRES),"[Environment and natural resources management,...","11,11,11","[{'code': '11', 'name': 'Environment and natur..."
26,LA,Lao People's Democratic Republic,Lao PDR Ninth Poverty Reduction Support Operation,"[Financial and private sector development, Tra...","4,5,2,8","[{'code': '4', 'name': 'Financial and private ..."
27,4P,Pacific Islands,Pacific Aviation Safety Office Reform,"[Environment and natural resources management,...","11,2,5,6","[{'code': '11', 'name': 'Environment and natur..."
28,SB,Solomon Islands,Additional Financing 2 - Solomon Islands Rural...,"[Rural development, Rural development, Social ...","10,10,7","[{'code': '10', 'name': 'Rural development'}, ..."
29,MZ,Republic of Mozambique,Water Resources Development Flood Response Add...,"[Social dev/gender/inclusion, Environment and ...","7,11","[{'code': '7', 'name': 'Social dev/gender/incl..."
...,...,...,...,...,...,...
470,LR,Republic of Liberia,Road Asset Management Project - Additional Fin...,"[Trade and integration, Rural development]","5,10","[{'code': '5', 'name': 'Trade and integration'..."
471,BD,People's Republic of Bangladesh,Rural Electrification and Renewable Energy Dev...,"[Rural development, Social dev/gender/inclusio...","10,7,11,7","[{'code': '10', 'name': 'Rural development'}, ..."
472,AM,Republic of Armenia,Reports to Conventions - UNCCD - Armenia,[Environment and natural resources management],"11,11","[{'code': '11', 'name': 'Environment and natur..."
473,AL,Republic of Albania,Land Degradation Enabling Activities - Albania,[Environment and natural resources management],"11,4","[{'code': '11', 'name': 'Environment and natur..."
474,PK,Islamic Republic of Pakistan,PK: Punjab Cities Governance Improvement,"[Urban development, Urban development]","9,9","[{'code': '9', 'name': 'Urban development'}, {..."
475,ID,Republic of Indonesia,Indonesia Infrastructure Guarantee Fund Project,"[Financial and private sector development, Urb...","4,9","[{'code': '4', 'name': 'Financial and private ..."
476,VN,Socialist Republic of Vietnam,Distribution Efficiency Project,[Rural development],"10,8","[{'code': '10', 'name': 'Rural development'}, ..."
477,UZ,Republic of Uzbekistan,Additional Financing for the Second Rural Ente...,"[Financial and private sector development, Rur...","4,10","[{'code': '4', 'name': 'Financial and private ..."
478,PK,Islamic Republic of Pakistan,Punjab Land Records Management and Information...,"[Public sector governance, Rule of law, Enviro...","2,3,11","[{'code': '2', 'name': 'Public sector governan..."
479,GT,Republic of Guatemala,Strengthening the resilience capacity of Maya ...,[Social dev/gender/inclusion],"7,1","[{'code': '7', 'name': 'Social dev/gender/incl..."
480,ZM,Republic of Zambia,Zambia - Extractive Industries Transparency In...,[Public sector governance],"2,11","[{'code': '2', 'name': 'Public sector governan..."
481,IN,Republic of India,India: ICDS Systems Strengthening & Nutrition ...,"[Human development, Social dev/gender/inclusio...","8,7,7,8","[{'code': '8', 'name': 'Human development'}, {..."
482,IN,Republic of India,Karnataka Watershed Development II,"[Rural development, Environment and natural re...","10,11,11,10","[{'code': '10', 'name': 'Rural development'}, ..."
483,IN,Republic of India,IN: Development Policy Loan (DPL) to Promote I...,"[Environment and natural resources management,...","11,11,10,11","[{'code': '11', 'name': 'Environment and natur..."
484,PH,Republic of the Philippines,Multi Donor Facility - PH Mindanao Reconstruct...,"[Rural development, Financial and private sect...","10,4,7,10","[{'code': '10', 'name': 'Rural development'}, ..."
485,MN,Mongolia,Capacity Builiding for Emerging Infectious Dis...,[Human development],"8,4","[{'code': '8', 'name': 'Human development'}, {..."
486,5M,Middle East and North Africa,5M: Displaced People in Jordan / Lebanon,"[Public sector governance, Social protection a...","2,6,6,6","[{'code': '2', 'name': 'Public sector governan..."
487,MX,United Mexican States,Sustainable Production Systems and Biodiversity,"[Environment and natural resources management,...","11,10,10,11","[{'code': '11', 'name': 'Environment and natur..."
488,BR,Federative Republic of Brazil,RIO STATE DEVELOPMENT POLICY LOAN III,"[Human development, Public sector governance, ...","8,2,2,8","[{'code': '8', 'name': 'Human development'}, {..."
489,PG,The Independent State of Papua New Guine,Papua New Guinea Settlement Upgrading Programme,"[Urban development, Social protection and risk...","9,6,6,9","[{'code': '9', 'name': 'Urban development'}, {..."
490,NP,Nepal,Nepal PFM-MDTF Strengthening Civil Society Org...,"[Public sector governance, Public sector gover...","2,2","[{'code': '2', 'name': 'Public sector governan..."
491,GZ,West Bank and Gaza,Water Supply and Sanitation Improvements for W...,[Rural development],"10,11","[{'code': '10', 'name': 'Rural development'}, ..."
492,PK,Islamic Republic of Pakistan,Pakistan: Promoting Girls' Education in Baloch...,"[Human development, Social dev/gender/inclusion]","8,7","[{'code': '8', 'name': 'Human development'}, {..."
493,BD,People's Republic of Bangladesh,Revision and Alignment of NAP with UNCCD 10-ye...,[Environment and natural resources management],"11,5","[{'code': '11', 'name': 'Environment and natur..."
494,NP,Nepal,Nepal: Pilot Project for Seismic School Safety...,[Social protection and risk management],"6,8","[{'code': '6', 'name': 'Social protection and ..."
495,JM,Jamaica,Technological Scale Up for Youth-led Urban Orn...,"[Financial and private sector development, Soc...","4,7","[{'code': '4', 'name': 'Financial and private ..."
496,LA,Lao People's Democratic Republic,Lao Eight Poverty Reduction Support,"[Human development, Trade and integration, Pub...","8,5,2,8","[{'code': '8', 'name': 'Human development'}, {..."
497,GN,Republic of Guinea,Second Emergency Agricultural Productivity Sup...,[Rural development],"10,6","[{'code': '10', 'name': 'Rural development'}, ..."
498,ID,Republic of Indonesia,Sustainable Management of Agricultural Researc...,"[Rural development, Rural development, Rural d...","10,10,10","[{'code': '10', 'name': 'Rural development'}, ..."
499,KE,Republic of Kenya,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,"[Urban development, Human development, Trade a...","9,8,5,4","[{'code': '9', 'name': 'Urban development'}, {..."

In [32]:
# 1) Find the 10 countries with most projects
df_sub1 = df_json[['countrycode', 'countryname', 'project_name']]
result1 = df_sub1.groupby(['countrycode', 'countryname']).count()
result1.columns = ['Project Number']
result1.sort_values('Project Number', ascending=False).head(10)

                                             Project Number
countrycode countryname
ID          Republic of Indonesia                        19
CN          People's Republic of China                   19
VN          Socialist Republic of Vietnam                17
IN          Republic of India                            16
RY          Republic of Yemen                            13
MA          Kingdom of Morocco                           12
BD          People's Republic of Bangladesh              12
NP          Nepal                                        12
3A          Africa                                       11
MZ          Republic of Mozambique                       11

In [83]:
# 2) Find the top 10 major project themes, using column 'mjtheme_namecode'
appended_df = []

for data in df_json['mjtheme_namecode']:
    appended_df.append(json_normalize(data))

df_sub2 = pd.concat(appended_df, axis=0)

Index(['11', '10', '8', '2', '6', '4', '7', '5', '9', '1'], dtype='object', name='code')

In [88]:
# 3) Create the unique theme table and join back to df_sub2
unique_theme = df_sub2[df_sub2.name != ""].drop_duplicates()

In [94]:
# Simply merge the data frame with missing names with unique_theme table
# to form a new DF with duplicated name columns, then drop the one with 
# missing names. Rename columns.

df_sub2_filled = pd.merge(df_sub2, unique_theme, on='code')
df_sub2_filled = df_sub2_filled[['code', 'name_y']]
df_sub2_filled.columns = df_sub2.keys()
df_sub2_filled.head()

  code               name
0    8  Human development
1    8  Human development
2    8  Human development
3    8  Human development
4    8  Human development

In [99]:
# Continue 2)
result2 = df_sub2_filled.groupby('name').count()
result2.columns = ['count']
result2.sort_values('count', ascending=False)[:10]

                                              count
name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38